/* ####################  */
/* ####################  */
/* Header Responsive Code  */
/* ####################  */
/* ####################  */
/* ####################  */
@media (max-width:1024px) {
    .header-section {
        .header-container {
            .header-logo {}

            .header-nav-container {
                gap: 14px;

                .nav-container {
                    display: none;
                    position: fixed;
                    top: 90px;
                    left: 20px;
                    bottom: 20px;
                    width: 350px;
                    z-index: 10;
                    /* backdrop-filter: blur(6px); */
                    border-radius: 20px;
                    overflow-x: hidden;
                    overflow: hidden;

                    .floating-bg-gradient-container {
                        display: block;
                        position: absolute;
                        border-radius: 20px;
                        overflow: hidden;
                        background-color: rgba(255,
                                255,
                                255,
                                0.05);
                        /* border: 1px solid rgba(255, 255, 255, 0.1); */
                        /* backdrop-filter: blur(8px); */
                        inset: 0;

                        .gradient-background-single {
                            position: absolute;
                            inset: 0;
                            overflow: hidden;
                            pointer-events: none;
                            z-index: 1;
                            border-radius: 17px;

                            .liquid-ball {
                                margin: 100px 0 0 100px;
                                position: absolute;
                                width: 200px;
                                height: 200px;
                                border-radius: 50%;
                                filter: blur(80px);
                                opacity: 0.7;
                                transform: translate(-50%,
                                        -50%);
                                will-change: background-image, transform, opacity, filter;
                                --color1: #a78cd7;
                                --color2: #7a59ab;
                                --gradient-pos-x: 40%;
                                --gradient-pos-y: 40%;
                                background-image: radial-gradient(circle at var(--gradient-pos-x) var(--gradient-pos-y),
                                        var(--color1),
                                        var(--color2),
                                        transparent 70%);
                            }
                        }
                    }

                    &>nav {
                        padding: 15px 10px 15px 0;
                        /* background: #000000a0; */
                        backdrop-filter: blur(6px);
                        z-index: 10;
                        position: relative;
                        border-radius: 17px;
                        /* background: rgb(59, 59, 59); */
                        /* background-color: rgba(255,
                                255,
                                255,
                                0.05); */
                        background: #000000ae;
                        padding: 0;
                        margin: 4px;
                        width: calc(100% - 8px);
                        height: calc(100% - 8px);
                        padding: 10px 10px;

                        &>ul {
                            align-items: start;
                            flex-direction: column;
                            overflow: auto;
                            height: 100%;
                            width: 100%;

                            &>li {
                                &>a {
                                    &:hover {}
                                }

                                &>a,
                                &.sub-menu .trigerer {

                                    &:hover,
                                    &._active {
                                        background-color: unset;
                                        transform: none;
                                    }
                                }

                                &.sub-menu {
                                    flex-direction: column;

                                    .trigerer {

                                        &:hover,
                                        &._active {
                                            /* background-color: unset;
                                            transform: none; */
                                        }

                                        span {}

                                        i {}
                                    }

                                    .sub-menu-container {
                                        min-width: 100%;
                                        position: relative;
                                        top: 0;
                                        padding: 5px 10px 20px 40px;
                                        overflow: hidden;

                                        .sub-menu-wrapper {
                                            padding: 0;
                                            background: none;

                                            .sub-menu-list {
                                                min-width: 100%;
                                                width: 100%;

                                                &>div {
                                                    span {}
                                                }

                                                &>ul {
                                                    li {
                                                        a {
                                                            i {}
                                                        }

                                                        a,
                                                        a span {
                                                            font-size: 14px;
                                                        }

                                                        a:has(i),
                                                        a:has(i) span {}
                                                    }
                                                }
                                            }

                                            .sub-menu-icon {
                                                display: none;
                                            }
                                        }
                                    }

                                    .sub-menu-overlay {
                                        display: none !important;
                                    }
                                }
                            }
                        }
                    }
                }

                .header-right-button {}

                .resp-menu-toggle-btn {
                    display: block;
                    z-index: 11;
                }

                .resp-menu-overlay {
                    display: none;
                    background-color: rgba(0, 0, 0, 0.379);
                    width: 100%;
                    height: 100vh;
                    position: fixed;
                    inset: 0;
                    z-index: 2;
                    background: rgba(255, 255, 255, 0.1);
                    backdrop-filter: blur(3px);
                }
            }
        }
    }

    /* ------------------------------- */
    /* ------------------------------- */
    /* ------------------------------- */
    /* ------------------------------- */
    /* ------------------------------- */
    /* ------------------------------- */
    /* ------------------------------- */
    /* ------------------------------- */
    /* ------------------------------- */
    /* ------------------------------- */
    /* ------------------------------- */
    /* ------------------------------- */
    /* ------------------------------- */
    /* ------------------------------- */
    /* ------------------------------- */
    /* ------------------------------- */
    /* ------------------------------- */
    /* ------------------------------- */
    /* ------------------------------- */
    /* ------------------------------- */
    /* ------------------------------- */
    .hero-bg-video {
        video {}
    }

    .hero-section {
        .hero-section-container {
            .hero-content-container {
                .hero-title {
                    font-size: 60px;
                    line-height: 76px;

                    span {}
                }

                &>p {}

                .hero-social-proof {
                    &:hover {
                        .clients-images a {}

                        .clients-images .tooltip {}
                    }

                    .clients-images {
                        &:hover a {}

                        &:has(a:nth-child(2):hover) .tooltip {}

                        &:has(a:nth-child(3):hover) .tooltip {}

                        &:has(a:nth-child(4):hover) .tooltip {}

                        &:has(a:nth-child(5):hover) .tooltip {}

                        &:has(a:nth-child(6):hover) .tooltip {}

                        .tooltip {
                            span {}

                            &::before {}
                        }

                        &>a {
                            &:not(:nth-child(2)) {}

                            &:hover {}

                            img {}
                        }
                    }

                    .stars-text {
                        .stars {
                            i {}
                        }

                        .text {}
                    }
                }

                .hero-cta-button {}
            }
        }
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .services-section {
        .section---header {

            p,
            h2 {
                span {}
            }
        }

        .services-layout-container {
            .service-card-container {
                .service-card-inner {
                    .service-card-img {
                        .label {}

                        img {}
                    }

                    .service-content-container {
                        .service-name {
                            font-size: 32px;
                            letter-spacing: -.962px;
                            line-height: 36px;
                        }

                        .services-list {
                            ul {
                                grid-template-columns: 1fr;

                                li {
                                    &::before {}

                                    &::after {}
                                }
                            }
                        }

                        .service-btns {
                            flex-direction: column;

                            a {}
                        }

                        .service-desc {
                            p {}
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:768px) {
    .hero-bg-video {
        video {}
    }

    .hero-section {
        .hero-section-container {
            padding: 40px 0;

            .hero-content-container {
                .hero-title {
                    font-size: 60px;
                    line-height: 76px;

                    span {}
                }

                &>p {}

                .hero-social-proof {
                    &:hover {
                        .clients-images a {}

                        .clients-images .tooltip {}
                    }

                    .clients-images {
                        &:hover a {}

                        &:has(a:nth-child(2):hover) .tooltip {}

                        &:has(a:nth-child(3):hover) .tooltip {}

                        &:has(a:nth-child(4):hover) .tooltip {}

                        &:has(a:nth-child(5):hover) .tooltip {}

                        &:has(a:nth-child(6):hover) .tooltip {}

                        .tooltip {
                            span {}

                            &::before {}
                        }

                        &>a {
                            &:not(:nth-child(2)) {}

                            &:hover {}

                            img {}
                        }
                    }

                    .stars-text {
                        .stars {
                            i {}
                        }

                        .text {}
                    }
                }

                .hero-cta-button {}
            }
        }
    }

    .brands-worked-with-container {
        margin-top: 40px;
        gap: 30px;

        &>h3 {
            font-size: 14px;
        }

        &>div {}

        .brands-worked-with-swiper {
            .swiper-wrapper {}

            .swiper-slide {
                width: 90px;

                img {}
            }
        }
    }

    .projects-section {
        .projects-container {
            display: grid;
            grid-template-columns: 1fr;
        }
    }

    .services-section {
        .section---header {

            p,
            h2 {
                span {}
            }
        }

        .services-layout-container {
            grid-template-columns: 1fr;

            .service-card-container {
                .service-card-inner {
                    .service-card-img {
                        .label {}

                        img {}
                    }

                    .service-content-container {
                        .service-name {}

                        .services-list {
                            ul {
                                li {
                                    &::before {}

                                    &::after {}
                                }
                            }
                        }

                        .service-btns {
                            a {}
                        }

                        .service-desc {
                            p {}
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:576px) {
    .header-section {
        .header-container {
            height: 70px;

            .header-logo {
                img {}
            }

            .header-nav-container {
                gap: 14px;

                .nav-container {
                    width: calc(100vw - 40px);
                    top: 75px;

                    &>nav {
                        &>ul {
                            &>li {
                                &>a {
                                    &:hover {}
                                }

                                &>a,
                                &.sub-menu .trigerer {

                                    &:hover,
                                    &._active {}
                                }

                                &.sub-menu {
                                    flex-direction: column;

                                    .trigerer {

                                        &:hover,
                                        &._active {}

                                        span {}

                                        i {}
                                    }

                                    .sub-menu-container {
                                        .sub-menu-wrapper {
                                            .sub-menu-list {
                                                &>div {
                                                    span {}
                                                }

                                                &>ul {
                                                    li {
                                                        a {
                                                            i {}
                                                        }

                                                        a,
                                                        a span {}

                                                        a:has(i),
                                                        a:has(i) span {}
                                                    }
                                                }
                                            }

                                            .sub-menu-icon {}
                                        }
                                    }

                                    .sub-menu-overlay {}
                                }
                            }
                        }
                    }
                }

                .header-right-button {}

                .resp-menu-toggle-btn {
                    display: block;
                }

                .resp-menu-overlay {}
            }
        }
    }

    /* ------------------------------- */
    /* ------------------------------- */
    /* ------------------------------- */
    /* ------------------------------- */
    /* ------------------------------- */
    /* ------------------------------- */
    /* ------------------------------- */
    /* ------------------------------- */
    /* ------------------------------- */
    /* ------------------------------- */
    /* ------------------------------- */
    /* ------------------------------- */
    /* ------------------------------- */
    /* ------------------------------- */
    .hero-bg-video {
        video {}
    }

    .hero-section {
        .hero-section-container {
            height: unset;

            .hero-content-container {
                .hero-title {
                    font-size: 44px;
                    line-height: 52px;

                    span {}
                }

                &>p {
                    font-size: 16px;
                }
            }
        }
    }

    .brands-worked-with-container {
        &>h3 {}

        &>div {}

        .brands-worked-with-swiper {
            .swiper-wrapper {}

            .swiper-slide {
                width: 90px;

                img {}
            }
        }
    }

    .services-section {
        .section---header {

            p,
            h2 {
                span {}
            }
        }

        .services-layout-container {
            .service-card-container {
                padding: 10px;
                border-radius: 12px;

                .service-card-inner {
                    .service-card-img {
                        .label {
                            font-size: 12px;
                            left: 8px;
                            top: 8px;
                        }

                        img {}
                    }

                    .service-content-container {
                        padding: 16px 10px 10px;
                        gap: 12px;

                        .service-name {
                            font-size: 26px;
                            letter-spacing: -.962px;
                            line-height: 32px;
                        }

                        .services-list {
                            ul {
                                grid-template-columns: 1fr;
                                margin: 4px 0 6px;

                                li {
                                    font-size: 14px;

                                    &::before {}

                                    &::after {}
                                }
                            }
                        }

                        .service-btns {
                            flex-direction: column;
                            gap: 6px;

                            a {}
                        }

                        .service-desc {
                            p {}
                        }
                    }
                }
            }
        }
    }
}

/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
/* -About Me Responsive CSS Start-- */
/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
@media (max-width:1200px) {
    .about-me-section {
        & .about-me-container {
            .about-me-h1 {
                margin: 0 auto;
                font-size: 55px;
                line-height: 63px;
            }
        }
    }

    .our-process-section {
        .our-process-container {
            .process-cards {
                .process-card-image {
                    max-width: 350px;
                }

                .process-card {
                    max-width: 565px;
                    padding: 24px 24px 34px;

                    .process-card-heading {
                        .label-text {
                            font-size: 13px;
                        }

                        .label-code {
                            font-size: 22px;
                        }
                    }

                    h3 {
                        font-size: 22px;
                        margin: 20px 0 10px 0;
                    }

                    p {
                        font-size: 22px;
                        max-width: 475px;
                    }
                }

                &>:nth-child(2) {
                    max-width: 565px;
                    margin: -180px 53px 0 auto;
                }

                &>:nth-child(3) {
                    margin-top: -72px;
                }

                &>:nth-child(4) {
                    max-width: 565px;
                    margin-top: -172px;
                }

                &>:nth-child(5) {
                    max-width: 565px;
                    margin-right: 10%;
                    margin-top: -31px;
                }

                &>:nth-child(6) {
                    margin-right: 8%;
                    margin-top: -197px;
                    margin-left: auto;
                }
            }
        }
    }
}

/* #############################  */
/* #############################  */
@media (max-width:1284px) {
    .our-process-section {
        .our-process-container {
            .process-cards {
                &>:nth-child(2) {
                    margin-right: 81px;
                }
            }
        }
    }
}

/* #############################  */
/* #############################  */
/* ############################## */
@media (max-width:1235px) {
    .our-process-section {
        .our-process-container {
            .process-cards {
                &>:nth-child(2) {
                    margin-right: 42px;
                }
            }
        }
    }
}

/* #############################  */
/* #############################  */
/* #############################  */
/* #############################  */
@media (max-width:1100px) {
    .about-me-section {
        & .about-me-container {
            .about-me-h1 {
                margin: 0 auto;
                line-height: 63px;
            }
        }
    }

    .our-process-section {
        .our-process-container {
            .process-cards {
                .process-card-image {
                    max-width: 300px;
                }

                .process-card {
                    max-width: 495px;
                }

                &>:nth-child(1) {
                    padding-right: 30px;
                }

                &>:nth-child(2) {
                    max-width: 495px;
                    margin-right: 54px;
                }
            }
        }
    }
}

/* #############################  */
/* #############################  */
/* #############################  */
@media (max-width:1055px) {
    .our-process-section {
        .our-process-container {
            .process-cards {
                &>:nth-child(2) {
                    margin-right: 20px;
                }
            }
        }
    }
}

/* #############################  */
/* #############################  */
/* #############################  */
/* #############################  */
@media (max-width:1015px) {
    .about-me-section {
        padding: 60px 0;
    }

    .intro-section {
        padding: 60px 0;
    }

    .our-process-section {
        padding: 60px 0;

        .our-process-container {
            .process-cards {
                gap: 20px;

                .process-card-image {
                    max-width: 100%;
                }

                .process-card {
                    width: 100%;
                    max-width: 100%;
                    padding: 34px 34px 54px;

                    .process-card-heading {
                        .label-text {
                            font-size: 20px;
                            line-height: 26px;
                        }

                        .label-code {
                            font-size: 32px;
                        }
                    }

                    h3 {
                        font-size: 32px;
                        line-height: 38px;
                        margin: 36px 0 10px 0;
                    }

                    p {
                        font-size: 32px;
                        max-width: 100%;
                        line-height: 38px;
                    }
                }

                &>:nth-child(2) {
                    margin: 0;
                }

                &>:nth-child(3) {
                    margin: 0;
                }

                &>:nth-child(4) {
                    margin: 0;
                }

                &>:nth-child(5) {
                    margin: 0;
                }

                &>:nth-child(6) {
                    margin: 0;
                }
            }
        }
    }
}

/* #############################  */
/* #############################  */
/* #############################  */
/* #############################  */
/* #############################  */
@media (max-width:678px) {
    .about-me-section {
        & .about-me-container {
            .about-me-h1 {
                font-size: 40px;
                line-height: 53px;
            }

            & .about-me-text-fade {
                font-size: 22px;
                line-height: 28px;

                span {
                    font-size: 22px;
                    line-height: 28px;
                }
            }
        }
    }

    .about-me-section {
        padding: 40px 0;
    }

    .intro-section {
        padding: 40px 0;

        .intro-container {
            .about-me-text-fade {
                margin: 22px auto 36px;
                font-size: 22px;
                line-height: 28px;

                span {
                    font-size: 22px;
                    line-height: 28px;
                }
            }
        }
    }

    .our-process-section {
        padding: 40px 0;

        .our-process-container {
            .about-me-h2 {
                margin: 24px 0;
            }

            .process-cards {
                .process-card {
                    padding: 24px 24px 34px;

                    .process-card-heading {
                        .label-text {
                            font-size: 18px;
                            line-height: 24px;
                        }

                        .label-code {
                            font-size: 26px;
                        }
                    }

                    h3 {
                        font-size: 26px;
                        line-height: 32px;
                        margin: 24px 0 6px 0;
                    }

                    p {
                        font-size: 26px;
                        max-width: 100%;
                        line-height: 32px;
                    }
                }
            }
        }
    }
}

/* #############################  */
/* #############################  */
/* #############################  */
/* #############################  */
/* #############################  */
@media (max-width:576px) {
    .about-me-h1 {
        font-size: 48px;
        line-height: 58px;

        span {
            color: var(--gray);
            font-family: "inter";
        }
    }

    .about-me-h2 {
        font-size: 36px;
    }

    .intro-section {
        & .intro-container {
            .about-me-text-fade {
                font-size: 20px;
                line-height: 26px;

                span {
                    font-size: 20px;
                    line-height: 26px;
                }
            }
        }
    }

    .our-process-section {
        .our-process-container {
            .process-cards {
                .process-card-image {
                    img {
                        border-radius: 10px;
                    }
                }

                .process-card {
                    padding: 24px 24px 34px;
                    border-radius: 10px;

                    .process-card-heading {
                        .label-text {
                            font-size: 14px;
                            line-height: 20px;
                        }

                        .label-code {
                            font-size: 20px;
                        }
                    }

                    h3 {
                        font-size: 20px;
                        line-height: 24px;
                        margin: 24px 0 6px 0;
                    }

                    p {
                        font-size: 20px;
                        max-width: 100%;
                        line-height: 24px;
                    }
                }
            }
        }
    }
}

/* #############################  */
/* #############################  */
/* #############################  */
/* #############################  */
/* #############################  */
@media (max-width:420px) {
    .about-me-h2 {
        font-size: 26px;
        margin: 0 0 0 24px;
    }

    .about-me-section {
        .about-me-container {
            .about-me-h1 {
                font-size: 30px;
                line-height: 37px;

                span {
                    color: var(--gray);
                    font-family: "inter";
                }
            }

            .about-me-text-fade {
                font-size: 16px;
                line-height: 20px;

                span {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }
    }

    .our-process-section {
        .our-process-container {
            .about-me-h2 {
                margin: 0 0 24px 0;
                font-size: 26px;
            }

            .process-cards {
                .process-card {
                    padding: 16px 16px 26px;

                    .process-card-heading {
                        .label-text {
                            font-size: 14px;
                            line-height: 20px;
                        }

                        .label-code {
                            font-size: 16px;
                        }
                    }

                    h3 {
                        font-size: 16px;
                        line-height: 20px;
                        margin: 16px 0 6px 0;
                    }

                    p {
                        font-size: 16px;
                        max-width: 100%;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}

/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
/* --About Me Responsive CSS  End-- */
/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
/* ##############################  */
/* ##############################  */
/* ##############################  */
/* ##############################  */
/* ##############################  */
/* ##############################  */
/* ##############################  */
/* ##############################  */
/* ##############################  */
/* ##############################  */
/* ##############################  */
/* ##############################  */
/* ##############################  */
/* ##############################  */
/* ##############################  */
/* ##############################  */
/* ##############################  */
/* ##############################  */
/* ##############################  */
/* ##############################  */
/* ##############################  */
/* ##############################  */
/* ##############################  */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -Service Page Responsive CSS Start-- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
@media (max-width:992px) {
    h1 {
        font-size: 56px;
        line-height: 60px;

        span {
            font-size: 56px;
            line-height: 60px;
        }
    }

    .service-hero-section {
        .service-hero-container {
            flex-direction: column;
            gap: 30px;

            h1 {
                max-width: 80%;
            }

            .service-subtitle-container {
                gap: 50px;
                max-width: 100%;

                .service-subtitle {
                    font-size: 20px;
                    line-height: 26px;

                    span {
                        font-size: 20px;
                        line-height: 26px;
                    }
                }

                .c_btn {
                    span {
                        font-size: 20px;
                        list-style: 24px;
                    }
                }
            }
        }
    }
}

/* #####################  */
/* #####################  */
/* #####################  */
/* #####################  */
/* #####################  */
@media (max-width:768px) {
    h1 {
        font-size: 42px;
        line-height: 49px;

        span {
            font-size: 42px;
            line-height: 49px;
        }
    }
}

/* #####################  */
/* #####################  */
/* #####################  */
/* #####################  */
/* #####################  */
@media (max-width:576px) {
    h1 {
        font-size: 34px;
        line-height: 40px;

        span {
            font-size: 30px;
            line-height: 36px;
        }
    }

    .service-hero-section {
        .service-hero-container {
            .service-subtitle-container {
                .service-subtitle {
                    font-size: 16px;
                    line-height: 22px;

                    span {
                        font-size: 16px;
                        line-height: 22px;
                    }
                }
            }
        }
    }
}

/* #####################  */
/* #####################  */
/* #####################  */
/* #####################  */
/* #####################  */
@media (max-width:420px) {
    h1 {
        font-size: 28px;
        line-height: 34px;

        span {
            font-size: 22px;
            line-height: 27px;
        }
    }

    .service-hero-section {
        .service-hero-container {
            h1 {
                max-width: 100%;
            }
        }
    }
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* --Service Page Responsive CSS  End-- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* #################################### */
/* #################################### */
/* #################################### */
/* #################################### */
/* #################################### */
/* #################################### */
/* #################################### */
/* #################################### */
/* #################################### */
/* #################################### */
/* #################################### */
/* #################################### */
/* #################################### */
/* #################################### */
/* #################################### */
/* #################################### */
/* #################################### */
/* #################################### */
/* #################################### */
/* #################################### */
/* #################################### */
/* #################################### */
/* #################################### */
/* #################################### */
/* #################################### */
/* #################################### */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -Project Page Responsive CSS Start-- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
@media (max-width:992px) {
    .project-intro-section {
        .project-intro-container {
            gap: 50px;

            .info-container {
                flex-direction: column;
                gap: 50px;

                .intro-desc {
                    color: var(--gray);
                    align-self: start;
                    max-width: 100%;

                    &>a {
                        margin-top: 18px;
                    }
                }
            }
        }
    }

    .overview-container {
        align-items: center;
        flex-direction: column;
        gap: 30px;
        padding: 30px 36px;

        .overview-list {
            justify-content: space-between;
            min-width: 100%;

            .overview-item {
                :nth-child(2) {
                    font-size: 14px;
                }
            }
        }
    }

    /* #######################  */
    /* #######################  */
    /* #######################  */
    /* #######################  */
    /* #######################  */
    /* #######################  */
    .project-challenge-section {
        .project-challenge-container {
            .challenge-container {
                padding: 27px;

                .chal-content {
                    margin-bottom: 36px;
                    font-size: 26px;

                    span {
                        font-size: 26px;
                    }
                }

                .chal-Tags-wrapper {
                    flex-direction: column;
                    gap: 10px;

                    .tags-box {
                        gap: 8px;

                        p {
                            font-size: 18px;
                        }

                        .tags {
                            margin-top: 0;

                            * {
                                font-size: 20px;
                                font-weight: 500;
                                line-height: 29px;
                            }
                        }
                    }
                }
            }
        }
    }

    /* ########################### */
    /* ########################### */
    /* ########################### */
    /* ########################### */
    /* ########################### */
    /* ########################### */
    /* ########################### */
    .project-ourwork-section {
        .mockup-container {
            flex-direction: column-reverse;

            &:nth-child(2),
            &:nth-child(4) {
                flex-direction: column;
            }

            .mockup-content {
                color: black;
                min-width: 100%;
                gap: 40px;
                height: max-content;

                h3 {
                    font-size: 32px;
                }
            }
        }
    }

    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    .project-exper-video {
        .exper-heading {
            padding: 26px 0 66px;

            h2 {
                font-size: 24px;
                line-height: 25px;
            }

            a {
                padding: 4px 8px;
                gap: 10px;
            }
        }
    }

    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    .project-plan-section {
        .project-plan-container {
            .plan-main-container {
                .plan-title {
                    div {
                        h2 {
                            font-size: 50px;
                        }
                    }
                }

                .plan-containers {
                    grid-template-columns: repeat(2, 1fr);

                    & .plan-container {
                        padding: 12px;

                        p {
                            font-size: 18px;
                        }

                        span {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }

    /* #########################  */
    /* #########################  */
    /* #########################  */
    /* #########################  */
    /* #########################  */
    .result-section {
        .result-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            p {
                margin-top: 20px;
            }
        }
    }

    /* #####################  */
    /* #####################  */
    /* #####################  */
    /* #####################  */
    /* #####################  */
    /* #####################  */
    .testimonial-profile {
        & .profile-title {
            p {
                font-size: 16px;
            }
        }
    }
}

/* ############################# */
/* ############################# */
/* ############################# */
/* ############################# */
/* ############################# */
/* ############################# */
/* ############################# */
/* ############################# */
/* ############################# */
/* ############################# */
/* ############################# */
/* ############################# */
@media (max-width:768px) {
    .project-intro-section {
        .project-intro-container {
            gap: 20px;

            .info-container {
                flex-direction: column;
                gap: 30px;

                .intro-desc {
                    margin-right: 0;
                }
            }
        }
    }

    .overview-container {
        padding: 20px 26px;
        gap: 20px;

        .overview-list {
            .overview-item {
                :nth-child(1) {
                    font-size: 40px;
                    line-height: 36px;
                }

                :nth-child(2) {
                    font-size: 12px;
                }
            }
        }
    }

    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    .project-challenge-section {
        margin: 60px 0;
    }

    /* ############################  */
    .project-ourwork-section {
        margin-top: 60px;

        & .project-ourwork-container {
            .work-content {
                margin: 14px 0 36px;
            }
        }
    }

    /* ############################  */
    .project-exper-video {
        .exper-heading {
            padding: 14px 0 40px;

            h2 {
                font-size: 20px;
            }

            a {
                padding: 4px 8px;
            }
        }
    }

    /* ############################  */
    .project-plan-section {
        margin: 60px 0;

        .project-plan-container {
            .plan-main-container {
                .plan-title {
                    div {
                        h2 {
                            font-size: 40px;
                            line-height: 48px;
                        }

                        i {
                            font-size: 27px;
                        }
                    }
                }

                .plan-containers {
                    & .plan-container {
                        padding: 8px;

                        p {
                            font-size: 16px;
                            line-height: 21px;
                        }

                        span {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    /* #########################  */
    /* #########################  */
    /* #########################  */
    /* #########################  */
    /* #########################  */
    .result-section {
        margin: 60px 0;
    }

    /* #####################  */
    /* #####################  */
    /* #####################  */
    /* #####################  */
    /* #####################  */
    /* #####################  */
    .testimonial-section {
        margin: 60px 0;

        .testimonial-container {
            &>p {
                font-size: 34px;
                margin: 10px 0 24px;

                span {
                    font-size: 34px;
                }
            }
        }
    }

    .testimonial-profile {
        & .profile-title {
            p {
                font-size: 16px;
            }
        }
    }
}

/* ##################  */
/* ##################  */
/* ##################  */
/* ##################  */
/* ##################  */
/* ##################  */
@media (max-width:576px) {
    .project-intro-section {
        .project-intro-container {
            .info-container {
                gap: 14px;
            }

            gap: 10px;
        }
    }

    .overview-container {
        align-items: start;
        padding: 14px 18px;
        gap: 10px;
        margin-top: 20px;

        .overview-list {
            gap: 10px;

            .overview-item {
                max-width: 235px;

                :nth-child(1) {
                    font-size: 28px;
                    line-height: 36px;
                }

                :nth-child(2) {
                    font-size: 10px;
                    line-height: 10px;
                }
            }
        }
    }

    /* ############################  */
    /* ############################  */
    /* ############################  */
    .project-challenge-section {
        margin: 50px 0;

        & .project-challenge-container {
            gap: 10px;

            & .challenge-container {
                padding: 18px;

                .chal-content {
                    font-size: 20px;
                    margin: 12px 0 40px;

                    span {
                        font-size: 20px;
                    }
                }

                & .chal-Tags-wrapper {
                    .tags-box {
                        p {
                            font-size: 14px;
                        }

                        & .tags {
                            * {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }

    /* ############################  */
    /* ############################  */
    /* ############################  */
    .project-ourwork-section {
        margin: 40px 0;

        & .project-ourwork-container {
            .work-content {
                margin: 10px 0 22px;
            }
        }

        .mockups-container {
            gap: 10px;

            .mockup-container {
                gap: 10px;

                &:nth-child(2),
                &:nth-child(4) {
                    flex-direction: column-reverse;
                }

                .mockup-content {
                    min-width: 100%;
                    gap: 40px;
                    height: max-content;
                    padding: 14px;

                    h3 {
                        font-size: 26px;
                    }
                }
            }
        }
    }

    /* ##############################  */
    /* ##############################  */
    /* ##############################  */
    .project-exper-video {
        .exper-heading {
            padding: 10px 0 24px;

            h2 {
                font-size: 15px;
                line-height: 17px;
            }
        }
    }

    /* ##############################  */
    /* ############################  */
    .project-plan-section {
        margin: 50px 0;

        .project-plan-container {
            gap: 10px;

            .plan-main-container {
                .plan-title {
                    margin: 10px 0;

                    div {
                        h2 {
                            font-size: 28px;
                            line-height: 34px;
                        }

                        i {
                            font-size: 22px;
                        }
                    }
                }

                .plan-containers {
                    grid-template-columns: repeat(1, 1fr);
                }
            }
        }
    }

    /* #########################  */
    /* #########################  */
    /* #########################  */
    /* #########################  */
    /* #########################  */
    .result-section {
        margin: 40px 0;

        & .result-container {
            .result-content {
                padding: 26px 28px;

                p {
                    margin: 10px 0;
                }
            }
        }
    }

    /* #####################  */
    /* #####################  */
    /* #####################  */
    /* #####################  */
    /* #####################  */
    /* #####################  */
    .testimonial-section {
        margin: 40px 0;

        .testimonial-container {
            &>p {
                font-size: 28px;
                line-height: 31px;

                & span {
                    line-height: 31px;
                    font-size: 28px;
                }
            }
        }
    }

    .testimonial-profile {
        & .profile-title {
            h3 {
                font-size: 22px;
                line-height: 27px;
            }

            p {
                font-size: 16px;
            }
        }
    }
}

/* ##################  */
/* ##################  */
/* ##################  */
@media (max-width:420px) {
    .project-intro-section {
        .project-intro-container {
            .info-container {
                & .project-info {
                    & .tags-container {
                        .tag {
                            font-size: 11px;
                        }
                    }
                }

                .intro-desc {
                    p {
                        max-width: 280px;
                    }
                }
            }
        }
    }

    .overview-container {
        .overview-list {
            .overview-item {
                :nth-child(1) {
                    font-size: 24px;
                    line-height: 29px;
                }

                :nth-child(2) {
                    font-size: 9px;
                    line-height: 13px;
                }
            }
        }
    }

    /* ############################  */
    /* ############################  */
    /* ############################  */
    .project-challenge-section {
        & .project-challenge-container {
            & .challenge-container {
                .chal-content {
                    font-size: 16px;
                    line-height: 21px;

                    span {
                        font-size: 16px;
                        line-height: 21px;
                    }
                }

                & .chal-Tags-wrapper {
                    .tags-box {
                        p {
                            font-size: 14px;
                        }

                        & .tags {
                            * {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }

    /* ############################  */
    /* ############################  */
    /* ############################  */
    .project-ourwork-section {
        & .project-ourwork-container {
            .work-content {
                font-size: 14px;

                span {
                    font-size: 13px;
                }
            }
        }
    }

    /* ############################  */
    /* ############################  */
    /* ############################  */
    .project-ourwork-section {
        margin: 40px 0;

        .mockups-container {
            gap: 10px;

            .mockup-container {
                gap: 10px;

                &:nth-child(2),
                &:nth-child(4) {
                    flex-direction: column-reverse;
                }

                .mockup-content {
                    min-width: 100%;
                    gap: 40px;
                    height: max-content;
                    padding: 14px;

                    h3 {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    /* ##############################  */
    /* ##############################  */
    /* ##############################  */
    .project-exper-video {
        .exper-heading {
            padding: 10px 0 24px;

            h2 {
                font-size: 15px;
                line-height: 17px;
            }
        }
    }

    /* ##############################  */
    .project-plan-section {
        margin: 60px 0;

        .project-plan-container {
            .plan-main-container {
                .plan-title {
                    div {
                        h2 {
                            font-size: 40px;
                            line-height: 48px;
                        }

                        i {
                            font-size: 27px;
                        }
                    }
                }
            }
        }
    }

    /* ############################  */
    .project-plan-section {
        margin: 50px 0;

        .project-plan-container {
            gap: 10px;

            .plan-main-container {
                .plan-title {
                    margin: 10px 0;

                    div {
                        h2 {
                            font-size: 24px;
                            line-height: 29px;
                        }

                        i {
                            font-size: 22px;
                        }
                    }
                }

                .plan-containers {
                    grid-template-columns: repeat(1, 1fr);

                    & .plan-container {
                        padding: 8px;

                        p {
                            font-size: 13px;
                            line-height: 21px;
                        }

                        span {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }

    /* #########################  */
    /* #########################  */
    /* #########################  */
    /* #########################  */
    /* #########################  */
    .result-section {
        margin: 40px 0;

        & .result-container {
            .result-content {
                padding: 26px 28px;
            }
        }
    }

    /* #####################  */
    /* #####################  */
    /* #####################  */
    /* #####################  */
    /* #####################  */
    /* #####################  */
    .testimonial-section {
        margin: 40px 0;

        .testimonial-container {
            &>p {
                font-size: 24px;
                line-height: 29px;

                & span {
                    font-size: 24px;
                    line-height: 29px;
                }
            }
        }
    }

    .testimonial-profile {
        & .profile-image {
            width: 48px;

            img {
                width: 100%;
            }
        }

        & .profile-title {
            h3 {
                font-size: 16px;
                line-height: 21px;
            }

            p {
                font-size: 13px;
            }
        }
    }
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* --Project Page Responsive CSS  End-- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */